<style type = "text/css">
	       #shape {
			 
			  height:150px;
			  background-color: blue;
			  display: none;
			  position: relative;
			  
		   }
		   
		   .bold {
		   
		   font-weight : bold;
		   
		   }
        </style>
